header {
  background-color: #cfe3e2; }

p {
  font-family: 'Open Sans', sans-serif;
  color: #424242; }

header h1, span {
  margin: auto;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center; }

.todobox-page-title {
  margin: auto; }

header h1 span {
  margin: 30px 0;
  display: inline-block;
  color: #424242; }

.todo-text {
  color: #007d7d;
  margin-bottom: 20px; }

.todo-form {
  background-color: #cfe3e2;
  padding-bottom: 25px;
  margin-bottom: 25px; }

::-webkit-input-placeholder {
  font-size: 14px; }

#body-input, #title-input {
  display: block;
  margin: auto;
  width: 400px;
  height: 20px; }

#body-input-count, #title-input-count {
  display: block;
  margin: auto;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px; }

#save-button {
  position: relative;
  display: block;
  margin: auto;
  border: none;
  width: 406px;
  text-align: center;
  background-color: #007d7d;
  height: 30px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px; }

#search-bar {
  width: 400px;
  display: block;
  margin: auto; }

#search-bar {
  height: 20px;
  margin-bottom: 20px; }

/*____________________*/
/*filtering buttons*/
#filters {
  position: relative;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 20px; }

#show-all-todos-button, #show-completed-todos-button {
  border: none;
  width: 406px;
  text-align: center;
  background-color: #007d7d;
  height: 30px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 20px; }

#show-all-todos-button {
  background-color: #007d7d; }

#show-completed-todos-button {
  background-color: #424242; }

#filter-by-importance-text {
  display: flex;
  justify-content: center;
  margin: 0 auto 20px auto;
  font-family: 'Open Sans', sans-serif;
  color: #424242;
  font-size: 18px;
  line-height: 1.25; }

#importance-controller {
  position: relative;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 20px; }

#none-filter, #low-filter, #normal-filter, #high-filter, #critical-filter {
  background-color: #424242;
  margin: 5px;
  height: 30px;
  width: 70px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  text-align: center; }

#none-filter:hover {
  background-color: #1f1e1e; }

#low-filter:hover {
  background-color: #7bd000; }

#normal-filter:hover {
  background-color: #f7ee02;
  color: #424242; }

#high-filter:hover {
  background-color: #f4a800; }

#critical-filter:hover {
  background-color: #e44a08; }

#save-button:hover, #show-all-todos-button:hover {
  background-color: #009394; }

#show-completed-todos-button:hover {
  background-color: #1f1e1e; }

/*________________________________*/
/*todo list section*/
.todo-list section {
  margin: auto; }

.todo-list section, .completed-todos section {
  list-style: none;
  width: 400px;
  padding: 20px 0;
  border-bottom: 2px solid #D1D3D4; }

.completed-todos section {
  margin: 20px auto;
  border: solid #D1D3D4 2px;
  padding: 20px; }

.todo-title {
  font-family: 'Roboto Slab', serif;
  color: #424242;
  font-size: 18px;
  line-height: 1.25;
  display: inline-block;
  max-width: 250px;
  word-wrap: break-word; }

.remove-todo {
  background: url("../images/svg-images/delete.svg") no-repeat;
  display: inline-block;
  margin: 0;
  float: right; }

.remove-todo:hover {
  background: url("../images/svg-images/delete-hover.svg"); }

.todo-body {
  font-family: 'Open Sans', sans-serif;
  color: #6a6a6a;
  font-size: 14px;
  margin: 10px auto;
  word-wrap: break-word;
  line-height: 1.5; }

.complete .todo-title, .complete .todo-body, .complete .complete-task-button, .complete .importance-control {
  color: #d2d2d2;
  text-decoration: line-through; }

.complete-task-button {
  background: url("../images/svg-images/circular-check-button-grey.svg") no-repeat;
  float: right;
  border: none; }

.complete-task-button:hover {
  background: url("../images/svg-images/circular-check-button-hover.svg"); }

.remove-todo, .upvote, .downvote, .complete-task-button {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: bottom;
  border: none;
  cursor: pointer;
  outline: none; }

.vote {
  width: auto;
  display: inline-flex; }

.upvote {
  background: url("../images/svg-images/upvote.svg") no-repeat;
  margin-right: 12px; }

.upvote:hover {
  background: url("../images/svg-images/upvote-hover.svg"); }

.downvote {
  background: url("../images/svg-images/downvote.svg") no-repeat;
  margin-right: 12px; }

.downvote:hover {
  background: url("../images/svg-images/downvote-hover.svg"); }

.importance-control {
  font-family: 'Roboto Slab', serif;
  color: #424242;
  font-size: 12px;
  padding-top: 2px; }

@media (max-width: 440px) {
  header input {
    width: 300px; }

  .todo-form {
    height: 195px; }

  /*can we move the placeholder text: "body" up to the left top corner*/
  ::-webkit-input-placeholder {
    font-size: 16px;
    padding: 0; }

  #title-input, #body-input, #search-bar {
    width: 300px;
    display: block;
    margin: auto; }

  #body-input {
    height: 60px; }

  #save-button, #show-completed-todos-button, #show-all-todos-button {
    max-width: 306px;
    font-size: 16px;
    top: 135px; }

  #filter-by-importance-text {
    margin: auto;
    font-size: 20px; }

  #filters {
    margin-top: 0; }

  #show-todos {
    padding-bottom: 120px;
    padding-top: 0; }

  #importance-controller {
    position: center;
    padding: 20px 70px 0 70px; }

  #none-filter, #low-filter, #normal-filter, #high-filter, #critical-filter {
    margin: 5px;
    height: 20px;
    width: 306px;
    align-items: center;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    text-align: center; }

  /*.importance-control {
    font-size: 14px;
    padding-top: 4px;
  }

  .importance-choice {
    font-family: 'Open Sans', sans-serif;
  }*/
  /*#importance-controller {
    align-items: center;
    margin: auto;
  }*/
  /*________________________*/
  .todo-list section {
    width: 300px; }

  .todo-title {
    font-size: 20px;
    max-width: 150px; }

  .remove-todo {
    background: url("../images/svg-images/delete.svg") no-repeat;
    display: inline-block;
    margin: 0px 10px;
    float: right; }

  .todo-body {
    font-size: 16px; }

  .remove-todo, .upvote, .downvote {
    height: 22px;
    width: 22px; } }

/*# sourceMappingURL=styles.css.map */
